@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:wght@300&family=Poppins:wght@700&display=swap');

body{
    margin: 0px;
}

b{
    color: lightgreen
}

header{
    background-image: url('imgs/hero.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 70px solid transparent;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDY3LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjcuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ4LjRDMjk5LjQtNjksNTQzLDY4LjQsODYzLDM0LjZzNTAzLTEwLjgsNTAzLTEwLjh2NDIuOUgwVjQ4LjR6Ii8+DQo8cGF0aCBpZD0id2F2ZS1iYW5uZXItYm90dG9tIiBjbGFzcz0ic3QxIiBkPSJNMCw1NS44YzI5OS40LTc2LjQsNTQzLDEzLjEsODYzLTlzNTAzLTcsNTAzLTd2MjcuOUgwVjU1Ljh6Ii8+DQo8L3N2Zz4NCg==) 100 stretch;
}

.social{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5% 20% 0.5% 20%;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
}

.social i{
    font-size: 1rem;
    padding-right: 10px;
}

nav{
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: rgba(4, 4, 55, 0.487); */
    height:7vh;
    width: 100%;
    padding-right:20%;
    margin-top: -9.5%;
    z-index: 999;
    position: absolute;
}

nav a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    margin-right: 1%;
}

nav button{
    background-color: #ffc107;
    font-family:'Poppins', sans-serif;    
    font-weight: 700;
    font-size: 1em;
    padding: 8px;
    width: 190px;
    border:none;
    border-radius: 30px;
}

.welcome{
    display: flex;
    flex-direction: row;
    align-self: center;
    color: white;
    font-family:'Poppins', sans-serif;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1%;
}

.wel{
    font-size: 2rem;
    color: rgb(0, 149, 255);
    display: block;
    line-height: 0.5;
}

.welcomemessage{
    align-self: flex-end;
    font-size: 4rem;
}

.welcomebuttons{
    text-align: center;
    flex: 1;
}

.welcomebuttons button{
    color: white;
    border:none;
    padding: 17px 0px 17px 0px;
    border-radius: 30px;
    margin-bottom: 1%;
    min-width:16vw;
}

.welcomebuttons i{
    font-size: 1.2rem;
}

.welcomeinner i{
    color: #20c997;
}

.book{
    background-color: #20c997;
    font-family:'Poppins', sans-serif;    
    font-weight: 700;
    font-size: 1em;
}

.book:hover{
    background-color:#5af3c5;
    transition-duration: 0.5s;
}

.welcomeinner{
    background-color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.welcomeinner:hover{
    color: grey;
    transition-duration: 0.5s;
    cursor: pointer;
}

.topcontent{
    margin-left: auto;
    margin-right: auto;
    width:60%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topcontent div{
    height: 25vh;
    width: 34%;
    margin: 1%;
    padding: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    color: white;
    font-size: 2rem;
    font-family:'Poppins', sans-serif;
    transition-duration: 0.5s;
}

.top1,.top4{
    flex-grow: 3;
}

.top2, .top3{
    flex-shrink: 3;
}

.top1{
    background-image: url('imgs/top1bg.webp');
}

.top1:hover, .top2:hover, .top3:hover, .top4:hover, .mid2:hover, .mid3:hover, .mid4:hover{
    background-size: 100%;
    transition-duration: 0.5s;
}

.top2{
    background-image: url('imgs/top2bg.webp');
}
.top3{
    background-image: url('imgs/top3bg.webp');
}
.top4{
    background-image: url('imgs/top4bg.webp');
}

.svg{
    z-index: 0;
}


.shark{
    background-image: url('imgs/bordertop.png'), url('imgs/shark.webp');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%;
    height:65vh;
    border-bottom: 70px solid transparent;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDY3LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjcuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ4LjRDMjk5LjQtNjksNTQzLDY4LjQsODYzLDM0LjZzNTAzLTEwLjgsNTAzLTEwLjh2NDIuOUgwVjQ4LjR6Ii8+DQo8cGF0aCBpZD0id2F2ZS1iYW5uZXItYm90dG9tIiBjbGFzcz0ic3QxIiBkPSJNMCw1NS44YzI5OS40LTc2LjQsNTQzLDEzLjEsODYzLTlzNTAzLTcsNTAzLTd2MjcuOUgwVjU1Ljh6Ii8+DQo8L3N2Zz4NCg==) 100 stretch;
}

.divebox{
    box-sizing: border-box;
    background-color: rgb(4, 27, 42);
    width:18vw;
    min-height:20vh;
    position: relative;
    top: -30vh;
    left: 61%;
    z-index: 3;
    overflow: visible;
    padding: 1%;
    color: white;
    font-size: 2rem;
    font-family:'Poppins', sans-serif;
}

.divebox span{
    font-size: 1.5rem;
    color: #ffc107;
}


.midcontent{
    margin-left: auto;
    margin-right: auto;
    width:60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -26vh;
}

.midcontent div{
    height: 25vh;
    width: 34%;
    margin: 1%;
    padding: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    color: white;
    font-size: 2rem;
    font-family:'Poppins', sans-serif;
    transition-duration: 0.5s;
}

.mid1,.mid4{
    flex-grow: 3;
}

.mid2, .mid3{
    flex-shrink: 3;
}

.mid1{
    background-image: url('imgs/lionbg.jpg');
}

.mid1 img{
    height:80%;
    width:33%;
    border-radius: 100%;
    float: left;
    margin-right: 6%;
}

.mid1 p,a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    text-decoration: none;
}

.mid1 a{
    color:rgb(163, 201, 240);
}
.mid2{
    background-image: url('imgs/mid2bg.webp');
}
.mid3{
    background-image: url('imgs/mid3bg.webp');
}
.mid4{
    background-image: url('imgs/mid4bg.webp');
}

.turtle{
    background-image: url('imgs/bordertop.png'),url('imgs/tortel.webp');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%, cover;
    height:65vh;
    border-bottom: 70px solid transparent;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDY3LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjcuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ4LjRDMjk5LjQtNjksNTQzLDY4LjQsODYzLDM0LjZzNTAzLTEwLjgsNTAzLTEwLjh2NDIuOUgwVjQ4LjR6Ii8+DQo8cGF0aCBpZD0id2F2ZS1iYW5uZXItYm90dG9tIiBjbGFzcz0ic3QxIiBkPSJNMCw1NS44YzI5OS40LTc2LjQsNTQzLDEzLjEsODYzLTlzNTAzLTcsNTAzLTd2MjcuOUgwVjU1Ljh6Ii8+DQo8L3N2Zz4NCg==) 100 stretch;
}

.turtle p{
    padding-left: 20%;
    padding-top:8%;
    width: 18%;
    color: white;
    font-size: 2rem;
    font-family:'Poppins', sans-serif;
}

.turtle button, .blogs button{
    background-color: #20c997;;
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    border:none;
    padding: 17px 0px 17px 0px;
    border-radius: 30px;
    margin-bottom: 1%;
    font-size: 1rem;
    font-family:'Poppins', sans-serif;
}

.turtle button:hover, .blogs button:hover{
    background-color:#5af3c5;
    cursor: pointer;
}

.blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogsinner{
    display: flex;
    justify-content: space-evenly;
    width:60%;
    margin-top: 5%;
}

.blog1,.blog2{
    display: flex;
    background-color: #001829;
    width: 45%;
    color: white;
    font-size: 1.4rem;
    font-family:'Poppins', sans-serif;
}

.blog1 img, .blog2 img{
    width:50%;
}

.blog1 > p, .blog2 > p{
    box-sizing: border-box;
    padding: 5%;
}

.blogs b{
    color: #20c997;
    display: block;
    font-size: 1em;
}

.blogs button{
    width:15%;
    margin-top: 20px;
    color: white;
}

.newsletter{
    border-bottom: 70px solid transparent;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDYzLjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjMuNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMwMDI3NTQ7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ2QzI5OS40LTY1LjYsNTQzLDY1LjEsODYzLDMyLjlzNTAzLTEwLjIsNTAzLTEwLjJ2NDAuOEgwVjQ2eiIvPg0KPHBhdGggaWQ9IndhdmUtYmFubmVyLWJvdHRvbSIgY2xhc3M9InN0MSIgZD0iTTAsNTEuNWMyOTkuNC03Ni40LDU0MywxMy4xLDg2My05czUwMy03LDUwMy03djI3LjlIMFY1MS41eiIvPg0KPC9zdmc+DQo=) 100 stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:65vh;
    background-image: url('imgs/bordertop.png'), url('imgs/frogbg.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top, center;
}

.newsletter p{
    color: white;
    font-size: 3rem;
    font-family:'Poppins', sans-serif;
    width: 50%;
    text-align: center;
}

.newswrapper{
    min-width:20%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.newswrapper input[type="text"] {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
}

.newswrapper input[type="submit"] {
    background-color: #ffc107;
    font-family:'Poppins', sans-serif;    
    font-weight: 700;
    font-size: 1.3em;
    padding: 8px;
    border: none;
    border-radius: 30px;
}

footer{
    height:110vh;
    background-color: #002754;
    background-image: url('imgs/footerbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 1.4rem;
    font-family:'Poppins', sans-serif;
    padding-top: 5%;
    padding-left: 20%;
}

footer i{
    color: #20c997;
    font-size: 1.2rem;
}

.footerinner{
    width:40%;
}

.footerinner div{
    margin-bottom: 4vh;
}

.footerlinks{
    display: flex;
    justify-content: space-between;
}

.footersmall{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

.footersmall-b{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

.flexy {
    width:50%;
    display: flex;
    justify-content: space-evenly;
}

.footersmall-b a{
    color: white;
    font-size: 0.8rem;
}

.footerlinksinner{
    width:50%;
}

.footersmall img{
    float: left;
}

.quick{
    display: flex;
    justify-content: space-between;
}

.quick a{
    display: block;
    color: #20c997;
    padding-bottom: 10px;
}

@media (max-width:1500px){
   .welcome{
    width:90%;
   }

   .divebox{
    width: 25vw;
   }

   .topcontent, .midcontent{
    width:80%;
   }

   .turtle p{
    width:25%;
   }
}

@media (max-width: 485px){
    header{
        background-size: auto;
        border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDY3LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjcuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ4LjRDMjk5LjQtNjksNTQzLDY4LjQsODYzLDM0LjZzNTAzLTEwLjgsNTAzLTEwLjh2NDIuOUgwVjQ4LjR6Ii8+DQo8cGF0aCBpZD0id2F2ZS1iYW5uZXItYm90dG9tIiBjbGFzcz0ic3QxIiBkPSJNMCw1NS44YzI5OS40LTc2LjQsNTQzLDEzLjEsODYzLTlzNTAzLTcsNTAzLTd2MjcuOUgwVjU1Ljh6Ii8+DQo8L3N2Zz4NCg==)70;
    }
    
    .social i{
        display: none;
    }

    .welcome{
        flex-direction: column;
        text-align: center;
    }

    .welcomemessage{
        font-size: 2rem;
    }

    .welcomebuttons button{
        min-width:70vw;
    }

    .topcontent, .midcontent{
        width:99%;
    }

    .topcontent div, .midcontent div{
        width: 100%;
        font-size: 1rem;
    }

    .shark{
        height: 26vh;
        background-size: auto;
    }

    .midcontent{
        margin-top: -1vh;
    }

    .divebox{
        left: 3vw;
        width: 90vw;
        top:-15vh;
        font-size: 1.2rem;
    }

    .divebox span{
        font-size: 1rem;
    }

    .mid1{
        padding: 10%;
        box-sizing: border-box;
    }

    .mid1 img{
        height: 50%;
        width: 25%;
    }

    .mid1 p, .mid1 a {
        font-size: 0.9rem;
    }

    .turtle{
        background-size: auto;
    }

    .turtle p{
        width: 90%;
        font-size: 2rem;
        padding:1%;
        text-align: center;
        padding-top: 15%;
    }

    .blogsinner{
        flex-direction: column;
        width: 90%;
    }

    .blog1, .blog2{
        width: 100%;
    }

    .blogs button{
        width: 80%;
    }

    .newsletter{
        height:30vh;
        background-size: auto;
    }

    .newsletter p{
        font-size: 1.2rem;
    }

    .flexy{
        flex-direction: column;
    }
    
    footer{
        background-size: auto;
        min-height: 110vh;
        padding-left: 5%;
    }

    .footerinner, .footerlinksinner{
        width: 80%;
    }

    .footerlinksinner div, .footerinner div{
        margin-bottom: 0%;
    }

    .footerlinks{
        flex-direction: column;
    }

}