@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:wght@300&family=Poppins:wght@700&display=swap');

body{
    margin: 0px;
}

b{
    color: lightgreen
}

header{
    background-image: url('imgs/hero.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 70px solid transparent;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDY3LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjcuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ4LjRDMjk5LjQtNjksNTQzLDY4LjQsODYzLDM0LjZzNTAzLTEwLjgsNTAzLTEwLjh2NDIuOUgwVjQ4LjR6Ii8+DQo8cGF0aCBpZD0id2F2ZS1iYW5uZXItYm90dG9tIiBjbGFzcz0ic3QxIiBkPSJNMCw1NS44YzI5OS40LTc2LjQsNTQzLDEzLjEsODYzLTlzNTAzLTcsNTAzLTd2MjcuOUgwVjU1Ljh6Ii8+DQo8L3N2Zz4NCg==) 70 stretch;
}

.social{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5% 20% 0.5% 20%;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.6em;
}

nav{
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: rgba(4, 4, 55, 0.487); */
    height:7vh;
    width: 100%;
    padding-right:20%;
    margin-top: -9.5%;
    z-index: 999;
    position: absolute;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 1%;
}

nav button{
    background-color: #ffc107;
    font-family:'Poppins', sans-serif;    
    font-weight: 700;
    font-size: 1em;
    padding: 8px;
    width: 13%;
    border:none;
    border-radius: 15px;
}

.welcome{
    display: flex;
    flex-direction: row;
    align-self: center;
    color: white;
    font-family:'Poppins', sans-serif;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1%;
}

.wel{
    font-size: 2rem;
    color: rgb(0, 149, 255);
    display: block;
    line-height: 0.5;
}

.welcomemessage{
    align-self: flex-end;
    font-size: 2.9rem;
}

.welcomebuttons{
    text-align: center;
    flex: 1;
}
.welcomebuttons button{
    color: white;
    padding: 5%;
    border:none;
    border-radius: 20px;
    margin-bottom: 1%;
    min-width:16vw;
}

.book{
    background-color: #20c997;
    font-family:'Poppins', sans-serif;    
    font-weight: 700;
    font-size: 0.8em;
}

.welcomeinner{
    background-color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
}

.topcontent{
    margin-left: auto;
    margin-right: auto;
    width:60%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topcontent div{
    height: 25vh;
    width: 34%;
    margin: 1%;
    padding: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.2rem;
    font-family:'Poppins', sans-serif;
}

.top1,.top4{
    flex-grow: 3;
}

.top2, .top3{
    flex-shrink: 3;
}

.top1{
    background-image: url('imgs/top1bg.webp');
}
.top2{
    background-image: url('imgs/top2bg.webp');
}
.top3{
    background-image: url('imgs/top3bg.webp');
}
.top4{
    background-image: url('imgs/top4bg.webp');
}

.svg{
    z-index: 0;
}


.shark{
    background-image: url('imgs/shark.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:65vh;
    border-bottom: 70px solid transparent;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDY3LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjcuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ4LjRDMjk5LjQtNjksNTQzLDY4LjQsODYzLDM0LjZzNTAzLTEwLjgsNTAzLTEwLjh2NDIuOUgwVjQ4LjR6Ii8+DQo8cGF0aCBpZD0id2F2ZS1iYW5uZXItYm90dG9tIiBjbGFzcz0ic3QxIiBkPSJNMCw1NS44YzI5OS40LTc2LjQsNTQzLDEzLjEsODYzLTlzNTAzLTcsNTAzLTd2MjcuOUgwVjU1Ljh6Ii8+DQo8L3N2Zz4NCg==) 70 stretch;
}

.divebox{
    box-sizing: border-box;
    background-color: rgb(4, 27, 42);
    width:18vw;
    min-height:20vh;
    position: relative;
    top: -30vh;
    left: 61%;
    z-index: 3;
    overflow: visible;
    padding: 1%;
    color: white;
    font-size: 1.3rem;
    font-family:'Poppins', sans-serif;
}

.divebox span{
    font-size: 0.9rem;
    color: #ffc107;
}


.midcontent{
    margin-left: auto;
    margin-right: auto;
    width:60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -26vh;
}

.midcontent div{
    height: 25vh;
    width: 34%;
    margin: 1%;
    padding: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.2rem;
    font-family:'Poppins', sans-serif;
}

.mid1,.mid4{
    flex-grow: 3;
}

.mid2, .mid3{
    flex-shrink: 3;
}

.mid1{
    background-color: rgb(54, 148, 241);
}

.mid1 img{
    height:80%;
    width:33%;
    border-radius: 100%;
    float: left;
    margin-right: 6%;
}

.mid1 p,a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
    margin: 0;
    text-decoration: none;
}

.mid1 a{
    color:rgb(163, 201, 240);
}
.mid2{
    background-image: url('imgs/mid2bg.webp');
}
.mid3{
    background-image: url('imgs/mid3bg.webp');
}
.mid4{
    background-image: url('imgs/mid4bg.webp');
}

.turtle{
    background-image: url('imgs/tortel.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:65vh;
    border-bottom: 70px solid transparent;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzY2IDY3LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzNjYgNjcuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAxOTBFRjt9DQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwYXRoIGlkPSJ3YXZlLWJhbm5lci1ib3R0b21fMV8iIGNsYXNzPSJzdDAiIGQ9Ik0wLDQ4LjRDMjk5LjQtNjksNTQzLDY4LjQsODYzLDM0LjZzNTAzLTEwLjgsNTAzLTEwLjh2NDIuOUgwVjQ4LjR6Ii8+DQo8cGF0aCBpZD0id2F2ZS1iYW5uZXItYm90dG9tIiBjbGFzcz0ic3QxIiBkPSJNMCw1NS44YzI5OS40LTc2LjQsNTQzLDEzLjEsODYzLTlzNTAzLTcsNTAzLTd2MjcuOUgwVjU1Ljh6Ii8+DQo8L3N2Zz4NCg==) 70 stretch;
}